# Project: CRWD Survey Monkey (organized)
## Object: organizate work from Zhehui Yuan & Yihao
### Author: <font color ='blue'>Xiaojun Yao (Uie)

### <font color='red'> Main Change: 

Recode the after_survey fuction() and create a result_table() function.

# <font color='blue'> Import Packages

In [1]:
#import surveymonty
import requests
import json
import random
from itertools import product

import time
import datetime

import pandas as pd
import numpy as np

#### <font color='red'> most important packages <font color='black'>(includes all the functions): process_functions.py

In [2]:
from process_functions import *

# <font color='blue'> 0.0 Import & Translate Dataset

In [2]:
df=pd.read_csv('wr2.csv')

In [3]:
def splitt(str):
    return str.split('+')[-1]

In [4]:
df=pd.read_csv('wr2.csv')
df["METRIC NAME"]=df["METRIC NAME"].apply(lambda x:splitt(x))
df.to_csv('NEW_RATE.csv')
df.head(5)

   ANSWER ID   METRIC NAME COMPANY NAME  YEAR        VALUE
0  2233010.0  Gross Profit      Danaher  2012   9414300000
1  2233013.0  Gross Profit      Danaher  2015  10762500000
2  2233016.0  Gross Profit      Danaher  2014   9892600000
3  2233001.0  Gross Profit      Danaher  2011   8176600000
4  2233004.0  Gross Profit      Danaher  2010   6404500000

# <font color='blue'>1.0 Test (only sending 5 questions out)

In [8]:
table0=missing_value_en(df,2016,'Danaher')
table0.head()

,COMPANY NAME,YEAR,METRIC NAME,SURVEY QUESTIONS,QUESTIONID
0,Danaher,2016,% CSPO Used,"Do you have answer to % CSPO Used? If yes, ple...",201607530000
1,Danaher,2016,Absenteeism rate,Do you have answer to Absenteeism rate? If yes...,201607530001
2,Danaher,2016,Access to Childcare Services,Do you have answer to Access to Childcare Serv...,201607530002
3,Danaher,2016,Access to Healthcare for Non-work-related Inci...,Do you have answer to Access to Healthcare for...,201607530003
4,Danaher,2016,Access to Healthcare for Work-related Incidents,Do you have answer to Access to Healthcare for...,201607530004

In [9]:
question1 = list(table0["SURVEY QUESTIONS"])
question0=["open_ended"]
questions_list=[[x,y] for x in question0 for y in question1]
testing_question = questions_list[0:5]

In [10]:
survey_title = 'Test Survey'
data = [['uieyao1199@gmail.com','Uie','Yao'],['ohnoyeahjin1199@hotmail.com','X','Yao']]
recipients_df = pd.DataFrame(data, columns=["email", "first_name", "last_name"])

testing_results=process(survey_title, testing_question, recipients_df)

survey id: 182714655
page id: 85102438
question id: 309735928
question id: 309735930
question id: 309735944
question id: 309735949
question id: 309735954
collector id: 240633199
message id: 63025041

In [15]:
result_answer=after_survey(testing_results)
result_answer

,"Do you have answer to % CSPO Used? If yes, please specify; if no,please leave the question blank","Do you have answer to Access to Childcare Services? If yes, please specify; if no,please leave the question blank","Do you have answer to Absenteeism rate? If yes, please specify; if no,please leave the question blank","Do you have answer to Access to Healthcare for Non-work-related Incidents? If yes, please specify; if no,please leave the question blank","Do you have answer to Access to Childcare Services? If yes, please specify; if no,please leave the question blank","Do you have answer to Access to Healthcare for Work-related Incidents? If yes, please specify; if no,please leave the question blank",collector_id,date_created,date_modified,email_address,first_name,id,ip_address,last_name,survey_id
Renjie_Ding_response,gmail,NaN,gmail,NaN,gmail,NaN,240633199,2019-07-09T19:12:18+00:00,2019-07-09T19:12:37+00:00,uieyao1199@gmail.com,Renjie,10848913908,4.35.91.70,Ding,182714655
X_Yao_response,NaN,hotmail,NaN,hotmail,NaN,hotmail,240633199,2019-07-09T19:16:35+00:00,2019-07-09T19:16:59+00:00,ohnoyeahjin1199@hotmail.com,X,10848923746,4.35.91.70,Yao,182714655

In [83]:
result_table = result_table(table0, result_answer, testing_question)
result_table

,SURVEY QUESTIONS,COMPANY NAME,YEAR,Renjie_Ding_response,X_Yao_response
0,"Do you have answer to % CSPO Used? If yes, ple...",Danaher,2016,gmail,NaN
1,Do you have answer to Absenteeism rate? If yes...,Danaher,2016,gmail,NaN
2,Do you have answer to Access to Childcare Serv...,Danaher,2016,gmail,hotmail
3,Do you have answer to Access to Healthcare for...,Danaher,2016,NaN,hotmail
4,Do you have answer to Access to Healthcare for...,Danaher,2016,NaN,hotmail